<!-- <section>
  <input type="text" class="input is-rounded" ng-model="$parent.searchBar">
  <label class="title is-4 searchbar" for="/">Search for a dishes:</label>
  <div ng-repeat="food in foods | filter: searchBar" class="column is-4">
    <a ui-sref="foodShow({ id: food._id })">
      <p>{{ food.name }}</p>
      <img ng-src="{{ food.image }}">
    </a>
  </div>
</section> -->

<section class="hero is-small">
   <div class="hero-body">
     <div class="container has-text-centered">
       <!-- <label class="title is-4 searchbar" for="/">Search for a dishes:</label> -->
       <input type="text" class="input is-rounded" placeholder="looking for food..." ng-model="$parent.searchBar">
     </div>
   </div>
 </section>


 <section class="container">
   <div class="columns is-mobile is-tablet is-multiline">
     <div ng-repeat="food in foods | filter: searchBar" class="column is-4-desktop is-6-tablet is-12-mobile">
       <div class="column">
         <a ui-sref="foodShow({ id: food._id })">
           <div id="foodmasonry" class="card is-shady">
             <div class="card-image">
               <figure class="image is-4by3">
                 <img ng-src="{{ food.image }}" alt="{{food.name}}" class="modal-button" data-target="modal-image2">
               </figure>
             </div>
             <div class="card-content">
               <div class="content has-text-centered">
                 <h4>{{ food.name }}</h4>
               </div>
             </div>
           </div>
         </a>
       </div>
     </div>
   </div>
 </section>
