<!-- <h1 class="title is-1">Create ye a dishes 🥟</h1>
<form ng-submit="handleSubmit()">
  <input ng-model="food.name">
  <input ng-model="food.description">
  <input ng-model="food.image">
  <input ng-model="food.country">
  <button class="button is-link">Create</button>
</form> -->


<section class="section is-small">
<div class="columns">
  <div class="column is-4 is-offset-4">
    <h1 class="title is-3 has-text-centered">Create a dishe🥟 </h1>
<form ng-submit="handleSubmit()">
<div class="field">
  <label class="label">Food</label>
  <div class="control">
    <input class="input" ng-model="food.name">
  </div>
</div>

<div class="field">
  <label class="label">Description</label>
  <div class="control">
    <input class="input" ng-model="food.description">
  </div>
</div>

<div class="field">
  <label class="label">Image</label>
  <div class="control">
  <input class="input" ng-model="food.image">
  </div>
</div>


<button class="button is-dark">create</button>
</form>
</div>
</div>
</section>
