<h1 class="title is-1 has-text-centered"> {{ food.name }} </h1>
<img src="{{ food.image }}">
<p>{{food.description}}</p>
<button ui-sref="foodEdit({ id: food._id })">Edit</button>
<button ng-click="handleDelete()">DELETE</button>

<button class="button" type="button" ng-click="vote(food)"><i class="fas fa-arrow-up"></i></button>
<button class="button" type="button" ng-click="unvote(food)"><i class="fas fa-arrow-down"></i></button>
<p>{{ food.voteNum }}</p>

<section class="section is-medium">
  <h3 class="title is-3 has-text-centered">Reviews</h3>
  <div class="columns">
    <div class="column is-four">
      <div class="hero-body">
        <!-- <div ng-if="isAuthenticated()"ng-repeat="comment in food.comments"> -->
        <div ng-repeat="comment in food.comments">
          <span><h3>{{ comment.commentAuthor.username }}</h3></span>
          <span><p>{{ comment.text }}</p></span>
          <!-- <button ng-if="isAuthenticated()" ng-if="comment.user._id === userId" class="button is-dark" ng-click="deleteComment(comment)">x</button> -->
          <button ng-click="deleteComment(comment)">x</button>
        </div>
      </div>
    </div>

    <div class="column is-four">
      <div class="hero-body">
        <!-- <form  ng-if="isAuthenticated()" ng-submit="addComment()"> -->
        <form ng-submit="addComment()">
          <label for='comment'>Something to share.. </label>
          <textarea class="textarea is-medium" name="comment" ng-model="comment.text"></textarea>
          <button class="button is-light">Add a comment</button>
        </form>
      </div>
    </div>
  </div>
</section>
