<section class="hero is-fullheight is-default is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-5">
          <figure class="image is-4by3">
            <img src="{{ food.image }}" alt="Description">
          </figure>
        </div>
        <div class="column is-6 is-offset-1 coloumns">
          <h1 class="title is-2 has text-centered">
            {{ food.name }}
          </h1>
          <hr />
          <br>
          <p class="has text-left"><strong>Votes</strong> - {{ food.voteNum }}</p>
          <p><strong>About this dish:</strong>
            {{food.description}}
          </p>
          <div class="container">
          </div>
          <div class="column is-12-desktop btnn">
            <button class="button btns" ng-if="isAuthenticated()" ng-click="handleDelete()">DELETE</button>
            <button class="button btns" ng-if="isAuthenticated()" ui-sref="foodEdit({ id: food._id })">Edit</button>
            <button class="button btns" type="button" ng-click="vote(food)"><i class="fas fa-arrow-up"></i></button>
            <button class="button btns" type="button" ng-click="unvote(food)"><i class="fas fa-arrow-down"></i></button>
          </div>
        </div>
    </div>
  </div>
</div>
</section>


<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h3 class="title is-3 has-text-centered">Reviews</h3>
      <hr />
      <div class="columns">
        <div class="column is-four">
          <div class="hero-body food-comment">
            <div  ng-if="isAuthenticated()" ng-repeat="comment in food.comments">
              <span style="font-weight: bold;">{{ comment.commentAuthor.username }}</span>
              <span>{{ comment.text }}</span>
              <button ng-if="isAuthenticated()" ng-if="comment.commentAuthor._id === userId"  ng-click="deleteComment(comment)">x</button>
              <hr />
            </div>
          </div>
        </div>
        <div class="column is-four">
          <div class="hero-body">
            <form ng-if="isAuthenticated()" ng-submit="addComment()">
              <textarea class="textarea is-large" rows="5" name="comment" ng-model="comment.text"></textarea>
              <button class="button is-light">Add a comment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
