.error {
  font-size: small;
  color: red;
}
.alert-container {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 100;
  opacity: 0.8;
  transition: opacity 1.5s ease-out;
}

.alert {
  position: absolute;
}
