.footer {
  background-color: white;
  margin-bottom: 10vh;
  // color: #69e0de;
  // margin-top: 20px;
  // padding-bottom: 3rem;
  i{
    color: #69e0de;
    font-size: 20px;
  }
  .btn{
    color: #69e0de;
  }
}
