<section class="auth" class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">Login</h3>
        <p class="subtitle has-text-grey">Please login to proceed.</p>
        <div class="box">

          <form ng-submit="handleLogin()">
            <div class="field">
              <div class="control">
                <input class="input " name="email" ng-model="user.email" type="email" placeholder="Your Email" >
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input class="input" name="password" ng-model="user.password" type="password" placeholder="Your Password">
              </div>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </div>
            <button class="button is-primary">Login</button>
          </form>
        </div>
        <p class="has-text-grey">
        <a class="login" ui-sref="register">Sign Up</a> &nbsp;·&nbsp;
        <a class="login" href="../">Forgot Password</a> &nbsp;·&nbsp;
        <a class="login" href="../">Need Help?</a>
      </p>
    </div>
  </div>
</div>
</section>
