@import "components/footer";
@import "components/header";
@import "components/alert";
@import "components/img";
@import "pages/home";
@import "pages/auth";
@import "pages/profile";
@import "pages/country";
$button-colour: #00d4b185;
.top{
  margin-top: 10vh;
}
.country{
  margin-top: 15vh;
}
.food{
  margin-top: 18vh;
}


.button {
  color: $button-colour;
}

.bottom{
  padding-bottom: 100px;
}


.vote{
  color: black;
}


.votefood{
  height: 60vh;
  overflow: auto;
  width: 98vw;
}


.created-section{
  height: 37vh;
  overflow: auto;
}


div#nationalFood  {
  transition: 0.8s opacity;
  padding: 7px;
  border-radius: 10px;
  &:hover {
    opacity: 0.1;
  }
}
