.home{
  background-color: #69e0de;
  height: 100vh;
  margin-bottom: 20vh;
}
#bar{
  color: #69e0de;
}
#adj{
  font-size: 110px;
  font-family: 'Lobster', cursive;
  margin-top: 30vh;
  color: white;
  animation-name: grow 5s infinite;
  &:hover {
    opacity: 0.3;
  }
}
@keyframes grow-up {
  0% {
    font-size: 600PX;
  }
  50%{
    font-size: 800px;
  }
  100% {
    font-size: 600px;
}
}
