#profile{
  background-color: #69e0de;
  height: 100vh;
  .user{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 60px;
  }
}
.indieflower{
  font-family: 'Kalam', cursive;
}
.has-same-height .card {
  height: 320px;
  overflow: hidden;
}

.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 6em;
}
.skills-content .media {
  margin: 0;
  padding: 4px;
  border: 0;
}
