<!DOCTYPE html>
<html ng-app='Aldojo'>
  <head>
    <meta charset="utf-8">
    <title>ALDOJO!</title>
    <link rel="shortcut icon" ng-href="/style/favicon.ico" type="image/vnd.microsoft.icon" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-controller="mainCtrl">

    <nav class="navbar is-fixed-top index">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" ui-sref="home">
            <figure class="image is-32x32">
              <img ng-src="/style/favicon.ico" alt="Logo">
            </figure>
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"  data-target="navMenu">
            <span class="burger-color" aria-hidden="true"></span>
            <span class="burger-color" aria-hidden="true"></span>
            <span class="burger-color" aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu dropdown">
          <div class="navbar-end">
          <a ui-sref-active="is-active" class="navbar-item " ui-sref="countryIndex">
            COUNTRIES
          </a>
          <a ui-sref-active="is-active" class="navbar-item " ui-sref="foodIndex">
            FOOD
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              ACCOUNT
            </a>
            <div class="navbar-dropdown">
              <a ui-sref-active="is-active" ng-if="isAuthenticated()" class="navbar-item" ng-click="handleLogout()">
                LOG OUT {{ username }}
              </a>
              <a ui-sref-active="is-active" ng-if="!isAuthenticated()" class="navbar-item" ui-sref="register">
                REGISTER
              </a>
              <a ui-sref-active="is-active" ng-if="!isAuthenticated()" class="navbar-item" ui-sref="login">
                LOG IN
              </a>
              <hr class="navbar-divider">

              <a ui-sref-active="is-active" ng-if="isAuthenticated()" class="navbar-item" ui-sref="profile({id:userId})">
                PROFILE
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

<script type="text/javascript">
  const burger = document.getElementsByClassName('navbar-burger')[0];
  const dropdown = document.getElementsByClassName('dropdown')[0];
  const options = document.getElementsByClassName('navbar-item');
  ToggleDropdown = function() {
    burger.classList.toggle("is-active");
    dropdown.classList.toggle("is-active")
  }
  burger.addEventListener('click', ToggleDropdown);
  for (let i=0; i < options.length; i++ ) {
    options[i].addEventListener('click', ToggleDropdown)
  }
</script>


  <flash-message></flash-message>
    <div ui-view></div>
  </body>
</html>
