<section class="section is-small">
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <!-- <h3 class="title has-text-grey has-text-centered">Edit {{ country.name }}</h3> -->
      <h3 class="title has-text-grey has-text-centered">Edit</h3>

      <form ng-submit="handleSubmit()">
        <div class="field">
          <label class="label has-text-grey">Country</label>
          <div class="control">
            <input class="input" ng-model="country.name">
          </div>
        </div>

        <div class="field">
          <label class="label has-text-grey">Region</label>
          <div class="control">
            <input class="input" ng-model="country.region">
          </div>
        </div>

        <div class="field">
          <label class="label has-text-grey">Flag Url</label>
          <div class="control">
            <input class="input" ng-model="country.flagUrl">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input" type="hidden" ng-model="country.alpha3Code">
          </div>
        </div>
        <div class="content has-text-centered">
          <button class="button is-dark">update</button>
        </div>
      </form>
    </div>
  </div>
</div>
</section>
