<div class="home-image">

<div class="searchContainer">
  <input id="search" type="text" placeholder="What're we looking for ?" ng-model="searchTerm" ng-change="findCountry()">
  <div class="search"></div>
</div>



<div class="resultsContainer" ng-repeat="place in searchResults | limitTo : 4">
  <div>
    <a class="white" ui-sref="countryShow({ alpha3Code: place.alpha3Code })">
      <p>{{ place.name }}</p>
    </a>
  </div>
  <div>
    <a class="white" ui-sref="countryShow({ alpha3Code: place.alpha3Code })">
      <img width="100px" src="{{ place.flag }}" alt="">
    </a>
  </div>
</div>

</div>
