<section class="section">
  <h2 class="title is-2 has-text-centered">Country List</h2>
    <div class="field has-addons is-grouped">
      <div class="control is-expanded">
        <input type="text" class="input is-rounded" ng-model="$parent.searchBar">
      </div>
    </div>

  <div class="columns is-multiline">
    <div ng-repeat="country in countries | filter: searchBar" class="column is-4">
      <a ui-sref="countryShow({ id: country._id })">
        <h3 class="subtitle is-4">{{ country.name }}</h3>
        <figure class="image">
          <img style="border-radius: 20px;" ng-src="{{ country.flagUrl }}" alt="{{ country.name }}" />
        </figure>
      </a>
    </div>
  </div>
</section>
