


<h1 class="title is-1">{{ country.name }}</h1>
<img src="{{ country.flagUrl }}">

<button ui-sref="countryEdit({ id: country._id })">Edit</button>
<button ng-click="handleDelete()">DELETE</button>

<!-- country comment -->

  <h3 class="title is-3 has-text-centered">Reviews</h3>
  <div class="columns">
    <div class="column is-four">
      <div class="hero-body">
        <!-- <div ng-if="isAuthenticated()"ng-repeat="comment in country.comments"> -->
        <div ng-repeat="comment in country.comments">
          <span><h3>{{ comment.commentAuthor.username }}</h3></span>
          <span><p>{{ comment.text }}</p></span>
          <!-- <button ng-if="isAuthenticated()" ng-if="comment.user._id === userId" class="button is-dark" ng-click="deleteComment(comment)">x</button> -->
          <button ng-click="deleteComment(comment)">x</button>
        </div>
      </div>
    </div>

    <div class="column is-four">
      <div class="hero-body">
        <!-- <form  ng-if="isAuthenticated()" ng-submit="addComment()"> -->
        <form ng-submit="addComment()">
          <label for='comment'>Something to share.. </label>
          <textarea class="textarea is-medium" name="comment" ng-model="comment.text"></textarea>
          <button class="button is-light">Add a comment</button>
        </form>
      </div>
    </div>
  </div>
</div>




<div ng-repeat="food in country.nationalFood">
  <a ui-sref="foodShow({ id: food._id })">
    <p>{{ food.name }}</p>
  </a>
</div>
<button ng-if="isAuthenticated()" ui-sref="foodNew({ id: country._id })">Add food</button>
